$blue-base: #2b91cc;
$dark-blue:#1d4971;
$light-blue: #4EB2D6;
$saturated-blue: #014BAC;
$accent: #8E69D0;
$black: #000;
$white: #eee;
$dark-gray: #666666;
$light-gray: #cccccc;

:root {
  --blue-base: #{$blue-base};
  --dark-blue: #{$dark-blue};
  --light-blue: #{$light-blue};
  --saturated-blue: #{$saturated-blue};
  --accent: #{$accent};
  --black: #{$black};
  --white: #{$white};
  --dark-gray: #{$dark-gray};
  --light-gray: #{$light-gray};
}
