:root {
  --fs-2: clamp(4.5rem, 6vw, 6rem);
  --fs-3: clamp(3.45rem, 6vw, 7rem);
  --fs-4: clamp(2.4rem, 2.5vw, 2.7rem);
  --fs-5: 2rem;
  --fs-8: clamp(1.2rem, 2vw, 1.4rem);
  --fw-700: 700;
  --fw-800: 800;
}

[data-theme="dark"] {
  --roman-silver: #a8a094;
  --white: #ffffff;
  --white-a10: #ffffff1a;
  --light-gray: #2f2f2f;
  --gray: #373a3d;
  --gray2: #181a1b;
  --dark-gray: #121212;
  --black: #000000;
  --black2: #1e2021;
  --red: #ff3838;
  --red-a20: #ff383833;
  --yellow: #fff000;
  --background: #121212;
}

[data-theme="light"] {
  --roman-silver: #72685a;
  --white: #131212;
  --white-a10: #00000050;
  --light-gray: #00000050;
  --gray: #e6e0e0;
  --gray2: #f5f5f5;
  --dark-gray: #ffffff;
  --black: #ffffff;
  --black2: rgb(221, 221, 221);
  --red: #ff3838;
  --red-a20: #ff383833;
  --yellow: #fff000;
  --background: rgb(243, 237, 237);
}
